{
    "token": "",
    "prefix": "+",
    "color": "14891321",
    "shards": 1,
    "owners": [
        "186882941966614528",
        "234464614996246529"
    ],
    "lavalink": {
        "nodes": [ 
            { 
                "host": "localhost", 
                "port": 80, 
                "region": "us-central", 
                "password": "sosecure" 
            }
        ]
    },
    "database": {
        "host": "localhost",
        "port": 27012,
        "base": "syrus",
        "user": "",
        "pass": ""
    },
    "tokens": {
        "ksoftsi": ""
    }
}